html,
		body {
			margin: 0;
			padding: 0;
			width: 100vw;
			height: 100vh;
			overflow: hidden;
		}

		/* Navbar styling */
		.navbar {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1030;
		}

		/* Sidebar styling */
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    margin-top: 8vh;
    background-color: white;
    color: black;
    padding-top: 56px; /* Push content below the navbar */
    transition: left 0.3s ease;
}

.sidebar.hidden {
    left: -250px;
}

.sidebar .menu_items {
    list-style: none;
    padding: 0;
}

.sidebar .menu_items .item {
    padding: 10px 20px;
}

.sidebar .menu_items .item:hover {
    background-color: #015d67;
    cursor: pointer;
}

.sidebar .menu_items .item a {
    color: #015d67; /* Warna default font */
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s ease; /* Tambahkan transisi untuk animasi halus */
}

.sidebar .menu_items .item a:hover {
    color: white; /* Warna font saat hover */
}

.sidebar .menu_items .item a i {
    margin-right: 10px;
}

/* Content area */
.content {
    margin-left: 250px;
    margin-top: 12vh; /* Space for the navbar */
    padding: 20px;
    width: calc(100vw - 250px);
    height: calc(100vh - 56px);
    overflow: hidden; /* Prevent inner content scrolling */
    background-color: rgb(212, 210, 210);
}

.sidebar.hidden ~ .content {
    margin-left: 0;
    width: 100vw;
}

.logo{
    width: 5vw;
}
.dropdown-toggle{
	margin-left: 10vh;
}

.label{
    font-size: medium;
}
.isi-label{
    font-size: medium;
}

