/* Body and container styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	background-color: white;
	
}
button[type="submit"] {
	background-color: #015D67;
	color: white;
	border: 2px solid #015D67;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	margin-top: 30px;
}

button[type="submit"]:hover {
	background-color: white;
	color: #015D67;
}

@media (max-width: 1536px) {
	body {
		width: 100%;
		height: auto;
		overflow-y:hidden;
	}
	
	.container_admin {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
	}
	
	/* Header styles */
	.header-container {
		display: flex;
		position: fixed;
		z-index: 1000;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		width: 100%;
		height: 80px;
		background-color: white;
		box-sizing: border-box;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}
	
	.header-container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #ffffff;
		/* Pastikan background sesuai kebutuhan */
		z-index: 1000;
		/* Pastikan z-index cukup tinggi untuk menampilkan di atas konten lainnya */
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 20px;
		/* Atur padding sesuai kebutuhan */
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		/* Tambahkan shadow jika diinginkan */
	}
	
	.logo-container {
		display: flex;
		align-items: center;
	}
	
	.logo {
		width: 50px;
		/* Sesuaikan ukuran logo */
		height: auto;
	}
	
	.logo-text {
	
		font-size: 16px;
		/* Sesuaikan ukuran font */
		margin-left: 10px;
	}
	
	.navbar {
		display: flex;
		align-items: center;
	}
	
	.navbar_profil {
		display: flex;
		align-items: center;
	}
	
	.profile-img {
		width: 40px;
		/* Sesuaikan ukuran gambar profil */
		height: 40px;
		/* Sesuaikan ukuran gambar profil */
		border-radius: 50%;
		margin-right: 10px;
	}
	
	
	
	/* Main content styles */
	.main-content {
		display: flex;
		width: 100%;
		height: max-content;
	}
	
	.navigasi_admin {
		width: 270px;
		position: fixed;
		display: flex;
		flex-direction: column;
		background-color: white;
		padding: 1.5vh;
		box-sizing: border-box;
		height: 100%;
		margin-top: 80px;
	
	}
	
	.navigasi_admin_menu {
		display: flex;
		flex-direction: column;
		gap: 1.5vh;
		margin-top: 1.5vh;
	}
	
	.isi {
		display: flex;
		align-items: center;
		border-radius: 1.5vh;
		padding: 1.5vh;
		width: 230px;
		gap: 15px;
		height: 30px;
	}
	
	.isi .profile-img {
		width: 10vh;
		height: 10vh;
	}
	
	.isi .profile-text span {
		color: gray;
		font-size: 1.5vh;
	}
	
	.inti {
		flex-grow: 1;
		padding: 1.5vh;
		background-color: #D9D9D9;
		height: 786.5px;
		width: 400px;
		margin-top: 20px;
	}
	
	.informasi {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 8px;
		margin-bottom: 10vh;
		margin-top: 100px;
		width: 82%;
		/* Sesuaikan dengan lebar konten */
		position: absolute;
		/* Atau 'fixed' jika Anda ingin tetap di tempat saat di-scroll */
		right: 0;
		top: 0;
		/* Sesuaikan untuk menempatkan pada posisi yang diinginkan di halaman */
	
	}
	
	.profil {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		height: auto;
		width: 90%;
	
		background-color: white;
		display: grid;
		padding: 1.5vh;
		border-radius: 1.5vh;
	}
	
	.img-profil {
		display: grid;
		place-items: center;
		margin: 0;
		width: 100%;
		height: auto;
	}
	
	.biodata {
		text-align: left;
		font-size: 1.5vh;
		display: grid;
		grid-template-columns: auto auto;
		column-gap: 1.5vh;
		row-gap: 1vh;
		font-family: 'Inter', sans-serif;
	}
	
	.custom-file-upload {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 2px dashed #d3d3d3;
		border-radius: 5px;
		padding: 20px;
		width: 90%;
		height: 20vh;
		cursor: pointer;
		position: relative;
		background-color: #f8f9fa;
		text-align: center;
	}
	
	.catin-image {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
	
	.custom-file-label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	
	.upload-icon {
		font-size: 2rem;
		color: #d3d3d3;
		text-align: center;
	}
	
	.upload-text {
		font-size: 1rem;
		color: #6c757d;
	}
	
	.upload-subtext {
		font-size: 0.75rem;
		color: #6c757d;
	}
	
	.file-name {
		margin-top: 1.5vh;
		font-size: 0.875rem;
		color: #6c757d;
	}
	
	.custom-file-upload:hover {
		background-color: #e2e6ea;
	}
	
	.custom-file-upload.dragover {
		background-color: #c8dadf;
	}
	
	.biodata .label {
		color: grey;
		font-size: 1.5vh;
		font-family: 'Inter', sans-serif;
	}
	
	.isi-label {
		font-weight: bold;
		font-size: 1.5vh;
		font-family: 'Inter', sans-serif;
	}
	
	/* Status section styles */
	.status {
		background-color: white;
		width: 90%;
		height: 130px;
		padding: 1.5vh;
		border-radius: 1.5vh;
	}
	
	.isi-status {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 1.5vh;
		padding: 1.5vh;
		height: 1.5vh;
		width: auto;
		margin-bottom: 1.5vh;
		transition: background-color 0.3s ease, color 0.3s ease;
		color: #015D67;
		cursor: pointer;
	}
	
	.isi-status:hover {
		background-color: #015D67;
		color: white;
	}
	
	.status-container {
		display: flex;
		align-items: center;
	}
	
	.status-container p {
		margin: 0;
		margin-right: 1.5vh;
	}
	
	.status-container span {
		margin: 0;
		margin-left: 15vh;
	}
	
	/* Pemeriksaan styles */
	.inti-pemeriksaan {
		display: grid;
		padding: 7vh;
		height: auto;
		margin-right: 90px;
		margin-bottom: 30vh;
		width: 50.5%;
		margin-top: 20px;
		background-color: white;
		box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5);
		border-radius: 1.5vh;
		border: 2px solid #ccc;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		right: 0;
		/* Posisi di kanan */
		top: 100px;
		/* Sesuaikan untuk menempatkan pada posisi yang diinginkan di halaman */
	}
	
	.form-container {
		display: flex;
		flex-wrap: wrap;
		gap: 3vh;
		width: 100%;
		justify-content: left;
	}
	
	.form-group {
		display: flex;
		flex-direction: column;
		border-radius: 1.5vh;
		width: 31%;
		justify-content: space-between;
	}
	
	.khusus {
		display: flex;
		flex-direction: column;
		border-radius: 1.5vh;
		width: 32.4vw;
		justify-content: space-between;
	}
	
	.form-group label {
		margin-bottom: 0.5vh;
	}
	
	
	
	.inputan {
		height: 3.5vh;
		width: auto;
		box-sizing: border-box;
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 5px;
		outline: none;
	}
	
	.btn-pemeriksaan {
		margin: 0;
		float: right;
		margin-top: -6.5vh;
		margin-right: 2vh;
		height: 6vh;
		width: 10vw;
		border: 1px solid #015D67;
		border-radius: 5px;
	}
	
	.input-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 25vh;
	}
	
	.input-container input[type="file"] {
		text-align: center;
	}
	
	/* Popup styles */
	.popup {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		height: 70%;
		padding: 2vh;
		background-color: white;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
		z-index: 1000;
	}
	
	.popup.show {
		display: block;
	}
	
	.popup .close-btn {
		float: right;
		cursor: pointer;
		font-size: 2vh;
	}
	
	.overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 999;
	}
	
	.overlay.show {
		display: block;
	}
	
	.preview-image {
		margin-top: 0.5vh;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
	.dropdown {
		position: relative;
		display: inline-block;
	}
	
	.dropdown-content {
		display: none;
		position: absolute;
		flex: none;
		min-width: 20vh;
		/* width: 6vh; */
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		margin-left: -10vh;
		z-index: 1000;
	}
	
	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	
	
	}
	
	.dropdown-content a:hover {
		background-color: #f1f1f1
	}
	
	.dropdown:hover .dropdown-content {
		display: block;
	}
	
	.dropdown-button {
		background-color: white;
		border: none;
		margin-right: 10vh;
	}
	
	.dropdown:hover .dropdown-button {
		background-color: whitesmoke;
	}
	
}

@media (max-width: 1390px) {
	body {
		width: 100%;
		/* overflow-y:hidden;  */
		/* overflow-x:hidden; */
	}

	.container_admin {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
	}

	/* Header styles */
	.header-container {
		display: flex;
		position: fixed;
		z-index: 1000;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		width: 100%;
		height: 80px;
		background-color: white;
		box-sizing: border-box;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}

	.header-container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #ffffff;
		/* Pastikan background sesuai kebutuhan */
		z-index: 1000;
		/* Pastikan z-index cukup tinggi untuk menampilkan di atas konten lainnya */
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 20px;
		/* Atur padding sesuai kebutuhan */
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		/* Tambahkan shadow jika diinginkan */
	}

	.logo-container {
		display: flex;
		align-items: center;
	}

	.logo {
		width: 50px;
		/* Sesuaikan ukuran logo */
		height: auto;
	}

	.logo-text {

		font-size: 16px;
		/* Sesuaikan ukuran font */
		margin-left: 10px;
	}

	.navbar {
		display: flex;
		align-items: center;
	}

	.navbar_profil {
		display: flex;
		align-items: center;
	}

	.profile-img {
		width: 40px;
		/* Sesuaikan ukuran gambar profil */
		height: 40px;
		/* Sesuaikan ukuran gambar profil */
		border-radius: 50%;
		margin-right: 10px;
	}



	/* Main content styles */
	.main-content {
		display: flex;
		width: 100%;
		height: max-content;
	}

	.navigasi_admin {
		width: 270px;
		position: fixed;
		display: flex;
		flex-direction: column;
		background-color: white;
		padding: 1.5vh;
		box-sizing: border-box;
		height: 100%;
		margin-top: 80px;

	}

	.navigasi_admin_menu {
		display: flex;
		flex-direction: column;
		gap: 1.5vh;
		margin-top: 1.5vh;
	}

	.isi {
		display: flex;
		align-items: center;
		border-radius: 1.5vh;
		padding: 1.5vh;
		width: 230px;
		gap: 15px;
		height: 30px;
	}

	.isi .profile-img {
		width: 10vh;
		height: 10vh;
	}

	.isi .profile-text span {
		color: gray;
		font-size: 1.5vh;
	}

	.inti {
		flex-grow: 1;
		padding: 1.5vh;
		background-color: #D9D9D9;
		height: 786.5px;
		width: 400px;
		margin-top: 20px;
	}

	.informasi {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 8px;
		margin-bottom: 10vh;
		margin-top: 100px;
		width: 79%;
		/* Sesuaikan dengan lebar konten */
		position: absolute;
		/* Atau 'fixed' jika Anda ingin tetap di tempat saat di-scroll */
		right: 0;
		top: 0;
		/* Sesuaikan untuk menempatkan pada posisi yang diinginkan di halaman */

	}

	.profil {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		height: auto;
		width: 90%;

		background-color: white;
		display: grid;
		padding: 1.5vh;
		border-radius: 1.5vh;
	}

	.img-profil {
		display: grid;
		place-items: center;
		margin: 0;
		width: 100%;
		height: auto;
	}

	.biodata {
		text-align: left;
		font-size: 1.5vh;
		display: grid;
		grid-template-columns: auto auto;
		column-gap: 1.5vh;
		row-gap: 1vh;
		font-family: 'Inter', sans-serif;
	}

	.custom-file-upload {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 2px dashed #d3d3d3;
		border-radius: 5px;
		padding: 20px;
		width: 90%;
		height: 20vh;
		cursor: pointer;
		position: relative;
		background-color: #f8f9fa;
		text-align: center;
	}

	.catin-image {
		width: 110px;
		height: 100px;
		border-radius: 50%;
	}

	.custom-file-label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	.upload-icon {
		font-size: 2rem;
		color: #d3d3d3;
		text-align: center;
	}

	.upload-text {
		font-size: 1rem;
		color: #6c757d;
	}

	.upload-subtext {
		font-size: 0.75rem;
		color: #6c757d;
	}

	.file-name {
		margin-top: 1.5vh;
		font-size: 0.875rem;
		color: #6c757d;
	}

	.custom-file-upload:hover {
		background-color: #e2e6ea;
	}

	.custom-file-upload.dragover {
		background-color: #c8dadf;
	}

	.biodata .label {
		color: grey;
		font-size: 1.5vh;
		font-family: 'Inter', sans-serif;
	}

	.isi-label {
		font-weight: bold;
		font-size: 1.5vh;
		font-family: 'Inter', sans-serif;
	}

	/* Status section styles */
	.status {
		background-color: white;
		width: 90%;
		height: 130px;
		padding: 1.5vh;
		border-radius: 1.5vh;
	}

	.isi-status {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 1.5vh;
		padding: 1.5vh;
		width: auto;
		height: 1.5vh;
		margin-bottom: 2.5vh;
		transition: background-color 0.3s ease, color 0.3s ease;
		color: #015D67;
		font-size: 15px;
		cursor: pointer;
	}

	p{
		font-size: 12px;
		font-weight: bold;
	}

	.isi-status:hover {
		background-color: #015D67;
		color: white;
	}

	.status-container {
		display: flex;
		align-items: center;
	}

	.status-container p {
		margin: 0;
		margin-right: 1.5vh;
	}

	.status-container span {
		margin: 0;
		margin-left: 15vh;
	}

	/* Pemeriksaan styles */
	.inti-pemeriksaan {
		display: grid;
		padding: 7vh;
		height: auto;
		margin-right: 90px;
		margin-bottom: 30vh;
		width: 50.5%;
		margin-top: 20px;
		background-color: white;
		box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5);
		border-radius: 1.5vh;
		border: 2px solid #ccc;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		right: 0;
		/* Posisi di kanan */
		top: 100px;
		/* Sesuaikan untuk menempatkan pada posisi yang diinginkan di halaman */
	}

	.form-container {
		display: flex;
		flex-wrap: wrap;
		gap: 3vh;
		width: 100%;
		justify-content: left;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		border-radius: 1.5vh;
		width: 31%;
		justify-content: space-between;
	}

	.khusus {
		display: flex;
		flex-direction: column;
		border-radius: 1.5vh;
		width: 32.4vw;
		justify-content: space-between;
	}

	.form-group label {
		margin-bottom: 0.5vh;
	}



	.inputan {
		height: 3.5vh;
		width: auto;
		box-sizing: border-box;
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 5px;
		outline: none;
	}

	.btn-pemeriksaan {
		margin: 0;
		float: right;
		margin-top: -6.5vh;
		margin-right: 2vh;
		height: 6vh;
		width: 10vw;
		border: 1px solid #015D67;
		border-radius: 5px;
	}

	.input-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 25vh;
	}

	.input-container input[type="file"] {
		text-align: center;
	}

	/* Popup styles */
	.popup {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		height: 70%;
		padding: 2vh;
		background-color: white;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
		z-index: 1000;
	}

	.popup.show {
		display: block;
	}

	.popup .close-btn {
		float: right;
		cursor: pointer;
		font-size: 2vh;
	}

	.overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 999;
	}

	.overlay.show {
		display: block;
	}

	.preview-image {
		margin-top: 0.5vh;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		flex: none;
		min-width: 20vh;
		/* width: 6vh; */
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		margin-left: -10vh;
		z-index: 1000;
	}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;


	}

	.dropdown-content a:hover {
		background-color: #f1f1f1
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	.dropdown-button {
		background-color: white;
		border: none;
		margin-right: 10vh;
	}

	.dropdown:hover .dropdown-button {
		background-color: whitesmoke;
	}
}


/* Media query untuk lebar layar maksimum 412px */
@media (max-width: 1280px) {
	body {
		margin: 0;
		padding: 0;
		font-family: 'Inter', sans-serif;
		background-color: white;
		overflow: hidden;
		overflow-x: hidden;
		width: 100%;


	}

	.container_admin {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		width: 100%;
	}

	/* Header styles */
	.header-container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #ffffff;
		z-index: 1000;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 12px;
		/* Sesuaikan padding untuk layar kecil */
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		width: 100%;
	}

	.logo {
		width: 30px;
		/* Sesuaikan ukuran logo untuk layar kecil */
		height: auto;
	}

	.logo-text {
		font-size: 12px;
		/* Sesuaikan ukuran font untuk layar kecil */
		margin-left: 8px;
	}

	.navbar {

		display: flex;
		/* Menggunakan Flexbox untuk layout */
		align-items: right;
		/* Menyelaraskan item secara vertikal di tengah */

		width: 100px;
	}

	.profile-img {
		width: 60px;
		/* Sesuaikan ukuran gambar profil */
		height: 50px;
	}

	/* Main content styles */
	.main-content {
		display: flex;
		flex-direction: column;
		/* Ubah menjadi kolom untuk layar kecil */
		width: 100%;
		height: auto;
	}

	.navigasi_admin {
		width: 100%;
		/* Ubah lebar menjadi 100% untuk layar kecil */
		height: 150px;
		/* Ubah tinggi sesuai kebutuhan */
		position: relative;
		/* Ubah posisi untuk layar kecil */
		margin-top: 110px;
		/* Sesuaikan margin untuk header */

	}

	.navigasi_admin_menu {
		display: flex;
		flex-direction: column;
		gap: 1vh;

	}

	.info-container {
		font-size: small;
	}

	.status {
		width: auto;
	}

	h5 {
		font-size: 20px;
	}

	h6 {
		color: gray;
		margin: 0;
		font-size: 20px;
	}

	.isi {
		width: 85%;
		/* Ubah lebar isi menjadi 100% */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		padding: 1vh;
		gap: 8px;
	}

	.isi .profile-img {
		width: 6vh;
		height: 6vh;
	}

	.isi .profile-text span {
		font-size: 15px;
		/* Sesuaikan ukuran font */
	}

	.inti {
		width: 100%;
		/* Ubah lebar inti menjadi 100% */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		padding: 1vh;
		background-color: #D9D9D9;
	}

	.catin-image {
		height: 100px;
		width: 110px;
		border-radius: 50%;
	}

	.informasi {
		width: 100%;
		height: 200px;
		margin-top: 2vh;
		display: flex;
		/* Mengaktifkan flexbox */
		flex-direction: column;
		/* Menyusun elemen secara vertikal */
		gap: 1.5vh;
		/* Jarak antar elemen */
		margin-top: 300px;
	}

	.inti-pemeriksaan {
		display: block;
		padding-left: 7vh;
		padding-right: 7vh;
		height: 1800px;
		margin-left: 0%;
		margin-right: 20%;
		width: 69%;
		height: auto;

		background-color: white;
		box-shadow: none;
		border-radius: 1.5vh;
		position: absolute;
		border: 0px;
		margin-top: 180px;
		padding-top: 5vh;
		top: 100px;
		float: center;
		/* Sesuaikan untuk menempatkan pada posisi yang diinginkan di halaman */
	}

	.profil {
		width: 100%;
		/* Ubah lebar profil menjadi 100% */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		margin-right: 0;
		/* Hapus margin kanan */
		margin-top: 35px;
		border-radius: 0px;
	}

	.biodata {
		font-size: 1.2vh;
		margin-top: 30px;
		/* Sesuaikan ukuran font */

	}

	.custom-file-upload {
		width: 80%;
		/* Sesuaikan lebar untuk layar kecil */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		padding: 8px;
	}

	.btn-pemeriksaan {
		width: 80%;
		/* Sesuaikan lebar tombol untuk layar kecil */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		margin: 2vh 0;
		/* Sesuaikan margin untuk layar kecil */
	}

	.input-container {
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
	}

	/* Popup styles */
	.popup {
		width: 90%;
		/* Sesuaikan lebar popup untuk layar kecil */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		padding: 2vh;
	}


	.preview-image {
		width: 100%;
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
	}

	.form-group {
		display: flex;
		flex-direction: column;
		border-radius: 1.5vh;
		width: 100%;
		justify-content: space-between;
	}

	.khusus {
		display: flex;
		flex-direction: column;
		border-radius: 1.5vh;
		width: 100%;
		justify-content: space-between;
	}

	.dropdown-content {
		min-width: 70%;
		/* Sesuaikan lebar dropdown untuk layar kecil */
	}

	.dropdown-content a {
		padding: 8px 12px;
		/* Sesuaikan padding untuk dropdown */
	}

	.status-container {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	.status-container p {
		margin: 0;

	}

	button {
		margin: 10px;
	}

	.status-container span {
		margin: 0;
		margin-left: 15vh;
	}

	hr {
		border: none;
	}
}
@media (max-width: 1025px) {
	body {
		margin: 0;
		padding: 0;
		font-family: 'Inter', sans-serif;
		background-color: white;
		overflow: auto;
		overflow-x: hidden;
		width: 100%;


	}

	.container_admin {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		width: 100%;
	}

	/* Header styles */
	.header-container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #ffffff;
		z-index: 1000;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 12px;
		/* Sesuaikan padding untuk layar kecil */
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		width: 100%;
	}

	.logo {
		width: 30px;
		/* Sesuaikan ukuran logo untuk layar kecil */
		height: auto;
	}

	.logo-text {
		font-size: 12px;
		/* Sesuaikan ukuran font untuk layar kecil */
		margin-left: 8px;
	}

	.navbar {

		display: flex;
		/* Menggunakan Flexbox untuk layout */
		align-items: right;
		/* Menyelaraskan item secara vertikal di tengah */

		width: 200px;
	}

	.profile-img {
		width: 50px;
		/* Sesuaikan ukuran gambar profil */
		height: 50px;
	}

	/* Main content styles */
	.main-content {
		display: flex;
		flex-direction: column;
		/* Ubah menjadi kolom untuk layar kecil */
		width: 100%;
		height: auto;
	}

	.navigasi_admin {
		width: 100%;
		/* Ubah lebar menjadi 100% untuk layar kecil */
		height: 150px;
		/* Ubah tinggi sesuai kebutuhan */
		position: relative;
		/* Ubah posisi untuk layar kecil */
		margin-top: 110px;
		/* Sesuaikan margin untuk header */

	}

	.navigasi_admin_menu {
		display: flex;
		flex-direction: column;
		gap: 1vh;

	}

	.info-container {
		font-size: small;
	}

	.status {
		width: auto;
	}

	h5 {
		font-size: 20px;
	}

	h6 {
		color: gray;
		margin: 0;
		font-size: 20px;
	}

	.isi {
		width: 85%;
		/* Ubah lebar isi menjadi 100% */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		padding: 1vh;
		gap: 8px;
	}

	.isi .profile-img {
		width: 6vh;
		height: 6vh;
	}

	.isi .profile-text span {
		font-size: 15px;
		/* Sesuaikan ukuran font */
	}

	.inti {
		width: 100%;
		/* Ubah lebar inti menjadi 100% */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		padding: 1vh;
		background-color: #D9D9D9;
	}

	.catin-image {
		height: 100px;
		width: 100px;
		border-radius: 50%;
	}

	.informasi {
		width: 100%;
		height: 200px;
		margin-top: 2vh;
		display: flex;
		/* Mengaktifkan flexbox */
		flex-direction: column;
		/* Menyusun elemen secara vertikal */
		gap: 1.5vh;
		/* Jarak antar elemen */
		margin-top: 300px;
	}

	.inti-pemeriksaan {
		display: block;
		padding-left: 7vh;
		padding-right: 7vh;
		height: 1800px;
		margin-left: 0%;
		margin-right: 20%;
		width: 69%;
		height: auto;

		background-color: white;
		box-shadow: none;
		border-radius: 1.5vh;
		position: absolute;
		border: 0px;
		margin-top: 180px;
		padding-top: 5vh;
		top: 100px;
		float: center;
		/* Sesuaikan untuk menempatkan pada posisi yang diinginkan di halaman */
	}

	.profil {
		width: 100%;
		/* Ubah lebar profil menjadi 100% */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		margin-right: 0;
		/* Hapus margin kanan */
		margin-top: 35px;
		border-radius: 0px;
	}

	.biodata {
		font-size: 1.2vh;
		margin-top: 30px;
		/* Sesuaikan ukuran font */

	}

	.custom-file-upload {
		width: 80%;
		/* Sesuaikan lebar untuk layar kecil */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		padding: 8px;
	}

	.btn-pemeriksaan {
		width: 80%;
		/* Sesuaikan lebar tombol untuk layar kecil */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		margin: 2vh 0;
		/* Sesuaikan margin untuk layar kecil */
	}

	.input-container {
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
	}

	/* Popup styles */
	.popup {
		width: 90%;
		/* Sesuaikan lebar popup untuk layar kecil */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		padding: 2vh;
	}


	.preview-image {
		width: 100%;
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
	}

	.form-group {
		display: flex;
		flex-direction: column;
		border-radius: 1.5vh;
		width: 100%;
		justify-content: space-between;
	}

	.khusus {
		display: flex;
		flex-direction: column;
		border-radius: 1.5vh;
		width: 100%;
		justify-content: space-between;
	}

	.dropdown-content {
		min-width: 70%;
		/* Sesuaikan lebar dropdown untuk layar kecil */
	}

	.dropdown-content a {
		padding: 8px 12px;
		/* Sesuaikan padding untuk dropdown */
	}

	.status-container {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	.status-container p {
		margin: 0;

	}

	button {
		margin: 10px;
	}

	.status-container span {
		margin: 0;
		margin-left: 15vh;
	}

	hr {
		border: none;
	}
}

@media (max-width: 767px) {
	body {
		margin: 0;
		padding: 0;
		font-family: 'Inter', sans-serif;
		background-color: white;
		overflow: auto;
		/* overflow-x: hidden; */
		width: 100%;


	}

	.container_admin {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		width: 100%;
	}

	/* Header styles */
	.header-container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #ffffff;
		z-index: 1000;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 12px;
		/* Sesuaikan padding untuk layar kecil */
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		width: 100%;
	}

	.logo {
		width: 30px;
		/* Sesuaikan ukuran logo untuk layar kecil */
		height: auto;
	}

	.logo-text {
		font-size: 12px;
		/* Sesuaikan ukuran font untuk layar kecil */
		margin-left: 8px;
	}

	.navbar {

		display: flex;
		/* Menggunakan Flexbox untuk layout */
		align-items: right;
		/* Menyelaraskan item secara vertikal di tengah */
		margin-right: 90px;
		font-size: small;
		width: 40px;
		height: 20px;
	}

	.profile-img {
		width: 30px;
		/* Sesuaikan ukuran gambar profil */
		height: 30px;
	}

	/* Main content styles */
	.main-content {
		display: flex;
		flex-direction: column;
		/* Ubah menjadi kolom untuk layar kecil */
		width: 100%;
		height: auto;
	}

	.navigasi_admin {
		width: 100%;
		/* Ubah lebar menjadi 100% untuk layar kecil */
		height: 150px;
		/* Ubah tinggi sesuai kebutuhan */
		position: relative;
		/* Ubah posisi untuk layar kecil */
		margin-top: 80px;
		/* Sesuaikan margin untuk header */

	}

	.navigasi_admin_menu {
		display: flex;
		flex-direction: column;
		gap: 1vh;

	}

	.info-container {
		font-size: small;
	}

	.status {
		width: auto;
	}

	h5 {
		font-size: 20px;
	}

	h6 {
		color: gray;
		margin: 0;
		font-size: 20px;
	}

	.isi {
		width: 90%;
		/* Ubah lebar isi menjadi 100% */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		padding: 1vh;
		gap: 8px;
	}

	.isi .profile-img {
		width: 6vh;
		height: 6vh;
	}

	.isi .profile-text span {
		font-size: 15px;
		/* Sesuaikan ukuran font */
	}

	.inti {
		width: 100%;
		/* Ubah lebar inti menjadi 100% */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		padding: 1vh;
		background-color: #D9D9D9;
	}

	.catin-image {
		height: 100px;
		width: 100px;
		border-radius: 50%;
	}

	.informasi {
		width: 100%;
		height: 200px;
		margin-top: 2vh;
		display: flex;
		/* Mengaktifkan flexbox */
		flex-direction: column;
		/* Menyusun elemen secara vertikal */
		gap: 1.5vh;
		/* Jarak antar elemen */
		margin-top: 300px;
	}

	.inti-pemeriksaan {
		display: block;
		padding-left: 7vh;
		padding-right: 7vh;
		height: 1800px;
		margin-left: 0px;
		margin-right: 0px;
		width: 69%;
		height: auto;

		background-color: white;
		box-shadow: none;
		border-radius: 1.5vh;
		position: absolute;
		border: 0px;
		margin-top: 150px;
		padding-top: 5vh;
		top: 100px;
		float: center;
		/* Sesuaikan untuk menempatkan pada posisi yang diinginkan di halaman */
	}

	.profil {
		width: 100%;
		/* Ubah lebar profil menjadi 100% */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		margin-right: 0;
		/* Hapus margin kanan */
		border-radius: none;
	}

	.profile-text {
		width: 10%;
	}

	.biodata {
		font-size: 1.2vh;
		margin-top: 30px;
		/* Sesuaikan ukuran font */

	}

	.custom-file-upload {
		width: 80%;
		/* Sesuaikan lebar untuk layar kecil */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		padding: 8px;
	}

	.btn-pemeriksaan {
		width: 80%;
		/* Sesuaikan lebar tombol untuk layar kecil */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		margin: 2vh 0;
		/* Sesuaikan margin untuk layar kecil */
	}

	.input-container {
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
	}

	/* Popup styles */
	.popup {
		width: 90%;
		/* Sesuaikan lebar popup untuk layar kecil */
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
		padding: 2vh;
	}


	.preview-image {
		width: 100%;
		height: auto;
		/* Ubah tinggi sesuai kebutuhan */
	}

	.form-group {
		display: flex;
		flex-direction: column;
		border-radius: 1.5vh;
		width: 100%;
		justify-content: space-between;
	}

	.khusus {
		display: flex;
		flex-direction: column;
		border-radius: 1.5vh;
		width: 100%;
		justify-content: space-between;
	}

	.dropdown-content {
		min-width: 70%;
		/* Sesuaikan lebar dropdown untuk layar kecil */
	}



	.dropdown-content a {
		padding: 8px 12px;
		/* Sesuaikan padding untuk dropdown */
	}

	.status-container {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	.status-container p {
		margin: 0;

	}

	button {
		margin: 10px;
	}

	.status-container span {
		margin: 0;
		margin-left: 15vh;
	}

	hr {
		border: none;
	}
}

/* Responsive styles */
